<%- include('./components/header') %>

  <div class="wrap">
    <div class="header clearfix">
      <% for (let i = 0; i < navList.length; i ++) { %>
        <% if (navList[i].id == channelId) { %> 
          <a href="/?channelId=<%= navList[i].id %>" class="header-ls header-ls-act fl">
        <% } else { %> 
          <a href="/?channelId=<%= navList[i].id %>" class="header-ls fl">
        <% } %> 
          <%= navList[i].name %>
        </a>
      <% } %>
    </div>
    <div class="main">
      <% for (let i = 0; i < list.length; i ++) { %>
        <a href="<%= list[i].url %>" class="main-ls clearfix" target="_blanck">
          <span class="main-ls-index fl">
            <%= i + 1 %>
          </span>
          <span class="main-ls-title fl">
            <%= list[i].title %>
          </span>
        </a>
      <% } %>
    </div>
  </div>
  <div id="suggest">反馈建议</div>
  <div class="suggest-wrap">
    <div class="suggest-wrap-close">X</div>
    <div class="clearfix">
      <span class="fl">你的联系方式</span>
      <input class="fl" name="name" type="text">
    </div>
    <div class="clearfix">
      <span class="fl">内容</span>
      <textarea class="fl" name="content" cols="30" rows="10"></textarea>
    </div>
    <div class="clearfix">
      <span class="fl">验证码</span>
      <input class="fl" name="captcha" type="text">
    </div>
    <img class="fl" id="captcha" src="/suggest/captcha" alt="">
    <button id="submit">点击</button>
  </div>

<%- include('./components/footer') %>