<%- include('./components/header') %>

  <div class="wrap">
    <div class="header clearfix">
      <% for (let i = 0; i < navList.length; i ++) { %>
        <% if (navList[i].id == channelId) { %> 
          <a href="/?channelId=<%= navList[i].id %>" class="header-ls header-ls-act fl">
        <% } else { %> 
          <a href="/?channelId=<%= navList[i].id %>" class="header-ls fl">
        <% } %> 
          <%= navList[i].name %>
        </a>
      <% } %>
    </div>
    <ul class="main">
      <% if (list.length > 0) { %>
        <% for (let i = 0; i < list.length; i ++) { %>
          <li class="main-ls clearfix">
            <span class="main-ls-index fl">
              <%= i + 1 %>
            </span>
            <a href="<%= list[i].url %>" target="_blanck" class="main-ls-title fl">
              <%= list[i].title %>
            </a>
          </li>
        <% } %>
      <% } else { %>
        <li>暂无数据</li>
      <% } %>
    </ul>
  </div>
  <div id="suggest"></div>
  <div class="suggest-wrap">
    <div class="suggest-main">
      <h3 class="suggest-title">反馈建议</h3>
      <div class="suggest-ls clearfix">
        <span class="suggest-ls-title fl">联系方式</span>
        <input class="suggest-ls-input w-200 fl" name="contact" type="text">
      </div>
      <div class="suggest-ls clearfix">
        <span class="suggest-ls-title fl">内容</span>
        <textarea class="suggest-ls-textarea fl" name="content" cols="30" rows="10"></textarea>
      </div>
      <div class="suggest-ls mb-20 clearfix">
        <span class="suggest-ls-title fl">验证码</span>
        <div class="w-200 fl clearfix">
          <input class="suggest-ls-input w-100 fl" name="captcha" type="text">
          <img class="suggest-captcha fr" id="captcha" src="/suggest/captcha" alt="">
        </div>
      </div>
      <div class="clearfix">
        <button class="suggest-btn suggest-wrap-close fl">取消</button>
        <button class="suggest-btn fr" id="submit">提交</button>
      </div>
    </div>
  </div>

<%- include('./components/footer') %>